{% extends "base.html" %}

{% block title %}Manage Contacts{% endblock %}

{% block page_content %}
<div class="page-header">
	<h2>Manage Contacts</h2>
</div>
<div class="col-md-4">
    <h3>In Group [ {{ group_name }} ]</h3>
    {% for contact in in_group %}
    <form action="{{ url_for('delete_member', group_name=group_name, name=contact) }}">
        <button class="btn btn-info" type="submit" style="background-color: #222222; border-color: #222222; color: #777777">{{ contact }}</button>
    </form>
    {% endfor %}
</div>
<div class="col-md-4">
    <h3>Out of Group [ {{ group_name }} ]</h3>
    {% for contact in out_group %}
    <form action="{{ url_for('add_member', group_name=group_name, name=contact) }}">
        <button class="btn btn-info" type="submit" style="background-color: #222222; border-color: #222222; color: #777777">{{ contact }}</button>
    </form>
    {% endfor %}
</div>
{% endblock %}